---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { siteTitle } from "../../conf";
---

<BaseLayout title={siteTitle} extraMainCls="container mx-auto">
	<div class="mt-5">
		<a href="/styleguide">Style guide</a>
	</div>
</BaseLayout>
