---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Index page">
	<a href="/page1">Page 1</a>
</BaseLayout>

<script>
	console.log(window.navigator.languages || window.navigator.language);
	const lang = window.navigator.languages?.[0].split("-")[0] ?? "fr";
	console.log("Lang", lang);
	console.log("Preferred Locale List:", Astro.preferredLocaleList);
	
</script>
