---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
---

<BaseLayout title="Index page">
	<a href={getRelativeLocaleUrl("en", "page1")}>Page 1</a>
</BaseLayout>
