---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getStaticPathsForLang } from "../../paths";

export async function getStaticPaths() {
    return getStaticPathsForLang();
}
---

<BaseLayout title="Page 1" extraMainCls="container mx-auto">
    <div class="p-5">Page 1</div>
</BaseLayout>
