.theme-blue-yellow {
    --primary-light-bg: #154194;
    --primary-light-txt: white;
    --secondary-light-bg: #e9b959;
    --secondary-light-txt: #000;
    --secondary-dark-bg: #e9b959;
    --secondary-dark-txt: #000;
    --secondary-strong-light-bg: #154194;
    --secondary-strong-light-txt: white;
    --background-light-bg: #e9b959;
    --background-light-txt: black;
}