.theme-green-pink {
    --primary-light-bg: #2b4540;
    --primary-light-txt: white;
    --secondary-light-bg: #fadceb;
    --secondary-light-txt: #000;
    --secondary-strong-light-bg: #fb8ac2;
    --secondary-strong-light-txt: white;
}