.theme-lightblue {
    --primary-light-bg: #0e599a;
    --secondary-light-bg: #dbecfe;
    --secondary-light-txt: #0e599a;
    --success-light-bg: #01DA97;
    --warning-light-bg: #FAC165;
    --danger-light-bg: #FE606C;
    --light-light-bg: #dbecfe;
    --light-light-txt: white;
    --lighter-light-bg: white;
    --lighter-light-txt: #0e599a;
    --background-light-bg: #eff7ff;
    --background-light-txt: #1f2937;
}