.theme-lightblue {
    --primary-light-bg: #9aaec1;
    --secondary-light-bg: #dbecfe;
    --secondary-light-txt: #0e599a;
    --success-light-bg: #01DA97;
    --warning-light-bg: #FAC165;
    --danger-light-bg: #FE606C;
    --light-light-bg: #dbecfe;
    --light-light-txt: rgb(76, 75, 87);
    --lighter-light-bg: white;
    --lighter-light-txt: #0e599a;
    --background-light-bg: #c9d6e3;
    --background-light-txt: #1f2937;
}